.game-name {
    text-align: center;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}

.game-area {
    position: absolute;   
    margin:auto;          
    left: 0;              
    right: 0;
}